:root {
    --padding-container: 100px 0;
    --color_invisible: rgb(67, 68, 76, 0);
    --color_0: #29282A;
    --color_1: #43444B;
    --color_2: #59646E;
    --color_3: #6E8690;
    --color_4: #84ABAE;
    --color_5: #A3CFC6;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* barra scroll  */

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: var(--color_5); 
}
::-webkit-scrollbar-thumb {
    background: var(--color_2); 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color_0); 
}
/*================================================

General

================================================*/

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #000;
  height: 100%;
}

body {
  background: #222;
  background: radial-gradient(#333, #111);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font: 100%/1.5 sans-serif;
  overflow: hidden;
}

/*================================================

Score

================================================*/

.score {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
}

/*================================================

Stage

================================================*/

.stage {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

/*================================================

Tiles

================================================*/

.tile {
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  transition-property:
    background,
    box-shadow,
    opacity,
    transform
  ;
  transform: translateZ(0);
  transition-duration: 3000ms;
}

.tile:before {
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  transition: opacity 300ms;
}

.tile.path:before {
  opacity: 1;
}

.tile.up:before {
  border-bottom: 4px inset rgba(255, 255, 255, 0.15);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.tile.down:before {
  border-top: 4px inset rgba(255, 255, 255, 0.15);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.tile.left:before { 
  border-right: 4px inset rgba(255, 255, 255, 0.15);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.tile.right:before { 
  border-left: 4px inset rgba(255, 255, 255, 0.15);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

@media (max-width: 900px), (max-height: 900px) {
  .tile.up:before,
  .tile.down:before,
  .tile.left:before,
  .tile.right:before {
    border-width: 3px;
  }
}

@media (max-width: 500px), (max-height: 500px) {
  .tile.up:before,
  .tile.down:before,
  .tile.left:before,
  .tile.right:before {
    border-width: 2px;
  }
}

.tile.pressed {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  transition-duration: 0ms;
}
/* Estilo menu */

.menu {
    height: 100%;
    background-color: var(--color_invisible);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 50px;
    transition: 0.3s;
}

.icono_menu {
    display: flex;
    position: fixed;
    top: 45vh;
    left: 0;
    z-index: 300;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 31, 31);
    clip-path: ellipse(100% 50% at 0% 50%);
    font-size: 40px;
    width: 50px;
    height: 10vh;
    transition: 0.3s;
    color: #fff;
}

.logo_menu {
    padding: 20px 30px;
    display: none;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.imagen_menu {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    background-color: #fff;

}

.opciones_menu {
    display: none;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(1fr, auto);
    padding: 20px 30px;
    position: absolute;
}

.opciones_menu > a {
    padding: 4px;
    text-decoration: none;
    color: #fff;
}

.opciones_menu > a > h4 {
    display: inline-block;
}

.redes_sociales_menu {
    position: absolute;
    bottom: 0;
    padding: 20px 30px;
    display: none;
    flex-direction: column;
}

.red_social_menu {
    display: flexbox;
    color: #fff;
}

/* Maquetacion Hover Menu */

.menu:hover{
    width: 200px;
    background-color: rgba(31, 31, 31);
    border-radius: 0 30px 30px 0;
    .opciones_menu{
        display: grid;
    }
    .logo_menu{
        display: flex;
    }
    .redes_sociales_menu{
        display: flex;
    }
    .red_social_menu {
        font-size: 26px;
    }
    .icono_menu {
        display: none;
    }
}
